@import '../../styles/shared', '../../styles/variables';

$search-width: 300px;

:host {
  @extend %transition, %d-flex;
  width: 100%;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding-right: $body-columns-gap;
  z-index: 100;
}

.container {
  @extend %d-flex;
  justify-content: space-between;
  align-items: center;
}

.side-block {
  @extend %d-flex;

  & > * {
    margin-left: 10px;
  }
  .search {
    width: $search-width;
  }
}

::ng-deep app-header .side-block ui-button {
  height: 100%;
} 

