<a
  *ngIf="linkTo"
  class="ui-item btn"
  [class.transparent]="style === 'transparent'"
  [class.gradient]="style === 'gradient'"
  [class.btn-size-lg]="size === 'lg'"
  [routerLink]="linkTo"
  routerLinkActive="active"
  #link="routerLinkActive">
  <ui-icon *ngIf="icon" [name]="icon" [iconStyle]="link.isActive ? 'fill': 'outline'"></ui-icon>
  <ng-container *ngTemplateOutlet="btnContent"></ng-container>
</a>
<button
  *ngIf="!linkTo"
  class="ui-item btn"
  [class.transparent]="style === 'transparent'"
  [class.gradient]="style === 'gradient'"
  [class.btn-size-lg]="size === 'lg'"
  >
  <ui-icon *ngIf="icon" [name]="icon" [iconStyle]="active ? 'fill' : 'outline'"></ui-icon>
  <ng-container *ngTemplateOutlet="btnContent"></ng-container>
</button>

<ng-template #btnContent>
  <span class="btn-name">
    <ng-content></ng-content>
  </span>
</ng-template>
