@import '/src/styles/variables', '/src/styles/shared';

:host {
  display: inline-block;
  width: $icon-size;
  height: $icon-size;

  &.btn-icon {
    // width: inherit;
    // height: inherit
  }
}

.icon {
  @extend :host;
  width: 100%;
  height: 100%;
}

.icon svg {
  width: inherit;
  height: inherit;
}

.color {
  @extend %transition;

  &-white {
    path, circle {
      stroke: var(--light);
    }
    &.fill {
      path, circle {
        fill: var(--light);
      }
    }
  }
}