@import '/src/styles/variables', '/src/styles/shared';

:host {
  @extend %d-flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: $row-margin-bottom;
  position: relative;
  z-index: 2;
}

.title {
  text-transform: capitalize;
  color: var(--theme-color-text);
  padding-left: $row-left-gap;
}

.wrapper {
  @extend %scroll;
  padding: {
    top: $base-padding * 2;
    bottom: $base-padding;
  }
  overflow: auto hidden;
  scroll-snap-type: x mandatory;
}

.inner {
  @extend %d-flex;
  position: relative;
  flex-wrap: nowrap;
  padding-left: $row-left-gap;
}

.more {
  @extend %d-flex, %flex-content-center;
  padding: 0 $body-sides-gap - $movie-card-margin-right;
	flex: 1 0 200px;
  max-width: $movie-card-width;
}

.last-gap {
  flex: 1 0 $body-sides-gap - $movie-card-margin-right;
}