<div class="card-grid-container" *ngIf="isPreview; else cardContent" @showBlock>
  <div class="preview cover"></div>
  <h3 class="preview title"></h3>
  <span class="preview duration"></span>
</div>

<ng-template #cardContent>
  <div class="card-grid-container" @showBlock>
    <a [routerLink]="['../movies', movie.id]">
      <img [src]="coverUrl" class="cover" [alt]="movie.title">
    </a>
    <div class="title-row">
      <div class="title-wrapp">
        <h3 class="title">{{movie.title}}</h3>
      </div>
      <span class="badge">{{movie.pg | uppercase }}</span>
    </div>
    <div class="duration">
      <svg-icon src="assets/icons/Clock_18x18.svg" class="ui-icon white"></svg-icon>
      <span class="time">
        {{movie.duration}}
        minute
      </span>
    </div>
  </div>
</ng-template>