@import '/src/styles/shared', '/src/styles/variables';

:host {
	flex: 1 0 $movie-card-width;
  max-width: $movie-card-width;
  margin-right: $movie-card-margin-right;
  height: $movie-card-height;
}

.card-grid-container {
  @extend %movie-card;
}

.cover {
  @extend %border, %transition;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;

  &:hover,
  &:focus {
    transform: scale(1.02);
    z-index: 3;
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, .5);
  }
}

.title {
  &-row {
    @extend %d-flex;
    color: var(--theme-color-text);
    align-items: baseline;
  }
  &-wrapp {
    overflow: hidden;
    white-space: nowrap;
    max-width: $movie-card-title-max-width;
    text-overflow: ellipsis;
  }

  display: inline;
  font-size: 1.4em;
  line-height: 1.9em;
  font-weight: 500;
}

.duration {
  @extend %d-flex;
  align-items: center;
  color: var(--theme-color-text);
  opacity: .5;
}

.time {
  margin-left: 5px;
  font-size: 1.04em;
}

.badge {
  border: 1px solid var(--theme-color-text);
  color: var(--theme-color-text);
  font-weight: 400;
  border-radius: .5em;
  padding: .2em .9em .15em;
  font-size: 1.1em;
  margin-left: .5em;
  opacity: .5;
}


// Preview

$bg-lighten: rgb(21, 38, 71);
$bg-darken: rgb(26, 21, 56);
$bg-deg: 90deg;
$bg-duration: 2s;
$bg-gradient3: linear-gradient(90deg, $bg-lighten 15%, $bg-darken 45%, $bg-lighten 85%);

%placeholder {
  @extend .cover;
  display: inline-block;
  &:last-child {
    margin-bottom: 7px;
  }
}

.preview {
  &.cover {
    background-image: $bg-gradient3;
    background-size: 800% 800%;
    animation: loadingBg $bg-duration ease-in infinite;
  }
  &.title {
    @extend %placeholder;
    width: 90%;
  }
  &.duration {
    @extend %placeholder;
    width: 50%;
  }
}

@keyframes loadingBg {
  0%{background-position:0% 50%}
  50%{background-position:50% 50%}
  100%{background-position:100% 50%}
}