@import '/src/styles/variables', '/src/styles/shared';

$mark-size: 1em;
$mark-offset: calc(#{$mark-size} - 4px);

:host {
  text-align: center;
  user-select: none;
}

.switch {
  @extend %transition;
  display: inline-block;
  position: relative;
  width: $mark-size * 2;
  margin: 0 $mark-size / 2;
  height: $mark-offset;
  border-radius: $mark-size;
  background: var(--theme-color-bg-inversed);
  cursor: pointer;
}

.mark {
  @extend %transition;
  position: absolute;
  left: 0;
  top: -2px;
  width: $mark-size;
  height: $mark-size;
  border-radius: 50%;
  background-color: var(--theme-accent);
  transform: translateX(0);

  &.right {
    transform: translateX(100%);
  }
}

.label {
  @extend %transition;
  cursor: pointer;
  opacity: .8;

  &:hover,
  &.active {
    opacity: 1;
  }
}