@import '/src/styles/variables', '/src/styles/shared';

:host {
  padding: $body-rows-gap 0 $body-columns-gap;

  &.transparent {
    .nav {
      background-color: var(--theme-nav-bg-alpha);
    }
  }
}

.nav {
  @extend %d-flex, %flex-col;
  justify-content: space-between;
  background-color: var(--theme-nav-bg);
  border-radius: $base-radius;
  padding: {
    top: $base-padding;
    bottom: $base-padding;
    left: 0;
    right: 0;
  }
  height: 100%;

  &-list {
    text-align: center;
    list-style: none;
  }

  &-link:not(:last-child) {
    margin-bottom: $base-padding;
  }

  .btn-link {
    width: 100%;
    .btn {
      border-radius: 0;
    }
  }
}