<nav class="nav">
  <ul class="nav-list">
    <li class="nav-link">
      <ui-btn
        [style]="'transparent'"
        class="btn-nav"
        [linkTo]="['home']"
        icon="home">
        Home
      </ui-btn>
    </li>
    <li class="nav-link">
      <ui-btn
        [style]="'transparent'"
        class="btn-nav"
        [linkTo]="['popular']"
        icon="fire">
        Popular
      </ui-btn>
    </li>
    <li class="nav-link">
      <ui-btn
        [style]="'transparent'"
        class="btn-nav" 
        [linkTo]="['series']"
        icon="clapperboard">
        TV Series
      </ui-btn>
    </li>
    <li class="nav-link">
      <ui-btn
        [style]="'transparent'"
        class="btn-nav" 
        [linkTo]="['movies']"
        icon="video">
        Movies
      </ui-btn>
    </li>
    <li class="nav-link">
      <ui-btn
        [style]="'transparent'"
        class="btn-nav" 
        [linkTo]="['profile']"
        icon="user">
        Profile
      </ui-btn>
    </li>
  </ul>
  <ui-btn
    [style]="'transparent'"
    class="btn-nav" 
    [linkTo]="['profile']"
    icon="gear">
    Settings
  </ui-btn>
</nav>