@import '/src/styles/shared';

:host {
  height: 100%;
  display: block;
  grid-area: content;
}

.auth-methods {
  height: 100%;
  @extend %d-flex, %flex-content-center;

  & > ui-btn {
    margin: 0 25px;
  }
}