@use "sass:map";
@import './variables';

@mixin cardHost($cardName) {
  @extend %snap-item;
	flex: 1 0 get-size($cardName, "width");
  max-width: get-size($cardName, "width");
  margin-right: get-size($cardName, "margin-right");
  height: get-size($cardName, "height");
  
}

@function get-size($cardName, $size) {
  $result: 0;
  $cardProperties: map.get($card-size, $cardName);
  @return map.get($cardProperties, $size);
}