@use "sass:math";

$base-padding: 1em;
$body-padding: $base-padding * 3;

$color-blue: #1f1436;

$opacity-secondary: .6;

$header-avatar-width: 45px;
$header-height: $body-padding + 2;

$transition-time: .2s;
$transition-func: ease-out;

$base-radius: 1em;

$bttn-radius: $base-radius;
$bttn-padding: 1.2em;

$icon-size: 25px;

$app-sidenav-width: 90px;
$body-columns-gap: $base-padding * 5;
$body-rows-gap: $base-padding * 4;

$content-view-padding-top: $body-rows-gap;

$row-margin-bottom: $content-view-padding-top;
$row-left-gap: .5em;

$movie-card-height: 500px;
$movie-card-width: 250px;
$movie-card-margin-right: $base-padding * 2;
$movie-card-title-max-width: $movie-card-width - 40;

$category-card-height: 150px;
$category-card-width: $movie-card-width + 40;

$coming-movie-card-width: $category-card-width + 40;
$coming-movie-card-title-max-width: $coming-movie-card-width - 130;

$card-size: (
  movie: (
    width: $movie-card-width,
    height: $movie-card-height,
    margin-right: $movie-card-margin-right
  ),
  category: (
    width: $category-card-width,
    height: $category-card-height,
    margin-right: $movie-card-margin-right
  ),
  coming: (
    width: $coming-movie-card-width,
    height: $movie-card-height,
    margin-right: $movie-card-margin-right
  )
);

$scroll-size: .5em;
$scroll-color: white;
// $scroll-color: #192046;

$movie-sections-gap: math.div($body-columns-gap, 2);

$image-cover-radius: $base-radius * 2;
$images-gap: math.div($body-padding, 2);