@import './shared', './variables';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Montserrat, sans-serif;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  background-color: var(--theme-body-bg);
  
  &.theme-0 {
    --theme: 0
  }
  &.theme-1 {
    --theme: 1
  }
}

.container {
  @extend %container;
}

@import './theme.scss';