@import './variables', './shared';

.ui-item {
  @extend %transition, %border;
  padding: $bttn-padding;
  background-color: var(--theme-blue);
  display: inherit;
  line-height: 1em;
  color: var(--light);
  font-size: 1em;
  font-family: inherit;
}

.ui-icon {
  &.white {
    path, circle {
      stroke: var(--light);
    }
    &.fill {
      path, circle {
        fill: var(--light);
      }
    }
  }
}