@import '/src/styles/shared', '/src/styles/variables';

// $bg-lighten: var(--blue-lighten);
// $bg-darken: var(--blue);
$bg-lighten: rgb(21, 38, 71);
$bg-darken: rgb(26, 21, 56);
$bg-deg: 90deg;
$bg-duration: 2s;
$bg-gradient3: linear-gradient(90deg, $bg-lighten 15%, $bg-darken 45%, $bg-lighten 85%);

:host {
  @extend %movie-card;
  opacity: .3;
  mix-blend-mode: multiply;
	flex: 1 0 $movie-card-width;
  margin-right: $movie-card-margin-right;
}

.cover {
  @extend %border;
  background-image: $bg-gradient3;
  background-size: 800% 800%;
  animation: loadingBg $bg-duration ease-in infinite;
}

.placeholder {
  @extend .cover;
  display: inline-block;
  &:last-child {
    margin-bottom: 7px;
  }
}

.title {
  width: 90%;
}
.duration {
  width: 50%;
}

@keyframes loadingBg {
  0%{background-position:0% 50%}
  50%{background-position:50% 50%}
  100%{background-position:100% 50%}
}