@import '/src/styles/shared', '/src/styles/variables';

:host {
  @extend %d-flex;
  width: 100%;
  align-items: center;

  .col:first-child {
    width: $header-avatar-width;
  }
  .col:last-child {
    width: auto;
    padding-left: 1em;
    line-height: 1.7em;
    color: var(--theme-color-text);
  }
}

.avatar {
  width: 100%;
  border-radius: 50%;
}

.username {
  font-weight: 600;
}

.note {
  opacity: .8;
  font-size: .95em;
}