@import '/src/styles/shared', '/src/styles/variables';

.movies {
  &-wrapp {
    @extend %d-grid;
    grid-template-columns: repeat(auto-fit, minmax($movie-card-width + 20, 1fr));
    padding-left: $row-left-gap;
    row-gap: $movie-sections-gap;
    justify-content: space-between;
  
    &-height {
      min-height: calc(82vh - (#{$header-height} + #{$body-padding} + #{$content-view-padding-top}));
    }
  }

  &-pagination {
    padding: $movie-sections-gap 0;
  }
}

.title {
  font-size: 2em;
  color: var(--light);
  padding-left: $row-left-gap;
  margin-bottom: $base-padding;
}

app-movie-card {
  margin: 0;
}