@import '/src/styles/variables', '/src/styles/shared', '/src/styles/mixins';

:host {
  @extend %transition, %snap-item;
  display: block;
  position: relative;
  @include cardHost('category');
}

.cover {
  @extend %d-flex, %flex-content-center, %border, %transition;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;

  &:hover,
  &:focus {
    transform: scale(1.02);
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, .5);
  }
}

.title {
  color: var(--theme-color-text);
  font-size: 1.6em;
  font-weight: 500;
}
