<app-row-wrapp [title]="'popular'" [showMoreButtonLink]="'test'" [isPreview]="isMoviesLoading">
  <app-movie-card *ngFor="let movie of movies" [movie]="movie" [isPreview]="isMoviesLoading"></app-movie-card>
</app-row-wrapp>
<app-row-wrapp [title]="'category'">
  <app-movie-category-card *ngFor="let category of categories" [category]="category"></app-movie-category-card>
</app-row-wrapp>
<app-row-wrapp [title]="'Coming Soon'">
  <app-coming-movie-card *ngFor="let comingMovie of comingMovies" [movie]="comingMovie"></app-coming-movie-card>
</app-row-wrapp>