<div class="movie-content" *ngIf="movie">
  <header class="section-cover">
    <app-movie-media [id]="movie.id"></app-movie-media>
  </header>
  
  <section class="section-info">
    <h1 class="title">{{movie.title}}</h1>
    <p class="info">
      <span class="year">{{movie.release_date | date:'YYYY'}}</span><span class="dot-divider"></span>
      <span class="categories">{{movie.genres | map:'name' | join:', '}}</span><span class="dot-divider"></span>
      <span class="duration"><svg-icon src="assets/icons/Clock_18x18.svg" class="ui-icon white"></svg-icon> {{movie.runtime}} minute</span>
    </p>
    <p class="votes">
      <app-movie-rating [points]="movie.vote_average" [votes]="movie.vote_count"></app-movie-rating>
    </p>
    <hr class="main-block-divider">
    <app-movie-cast [id]="movie.id"></app-movie-cast>
    <iframe width="100%" height="600" [src]="trailerLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </section>

  <section class="section-details">
    <div class="logo">
      <img *ngFor="let logo of logos" [src]="getImageUrl(logo.file_path)" class="logo-img" alt="">
    </div>
    <p class="description">{{movie.overview}}</p>
    <ui-btn width="full" [style]="'gradient'" class="watch-btn">Watch</ui-btn>
    <hr>
    <table class="table">
      <tr class="table-row" *ngIf="movie.homepage">
        <td>Movie homepage:</td>
        <td><a target="_blank" href="{{movie.homepage}}">{{movie.homepage}}</a></td>
      </tr>
      <tr class="table-row">
        <td>Popularity:</td>
        <td>{{movie.popularity}}</td>
      </tr>
      <tr class="table-row">
        <td>Status:</td>
        <td>{{movie.status}}</td>
      </tr>
      <tr class="table-row">
        <td>Released:</td>
        <td>{{movie.release_date | date}}</td>
      </tr>
      <tr class="table-row">
        <td>Budget:</td>
        <td>{{movie.budget | currency}}</td>
      </tr>
      <tr class="table-row">
        <td>Revenue:</td>
        <td>{{movie.revenue | currency}}</td>
      </tr>
      <tr class="table-row">
        <td>Country:</td>
        <td>{{movie.production_countries | map:'name' | join:', '}}</td>
      </tr>
      <tr class="table-row">
        <td>Original Lang:</td>
        <td>{{movie.spoken_languages | map:'english_name' | join:', '}}</td>
      </tr>
    </table>
  </section>
  
  
</div>